/** .theme_gap_small — модификатор на отступ между колонками и отступами в сетке. 

В стилях содержит переменную `gap`, которая на десктопе имеет значение, 
соответствующее `xl`-отступу, а в мобильном представлении `s`. 
Для получения половинного значения переменная `gap` делится на два.

**/



.theme_gap_small {
    --gap: var(--space-s);

    @media screen and (min-width: $screen-m) {
        --gap: var(--space-xl); 
    }

    --col-gap-half: calc(var(--gap) * 0.5); /* Половина */
    --raw-gap-half: calc(var(--gap) * 0.5); /* Половина */
}
